<%- include("header"); -%>
<div class="content">
    <h2>Home</h2>
    <p><%= homeText %></p>
    <% posts.forEach(function(post) { %>
        <h2><%= post.contentTitle %></h2>
        <p><%= (post.content).substring(0,100) + " ..." %><a class= "link" href="/post/<%= post.contentTitle %>">Read More</a></p>
    <% }); %>
</div>
<%- include("footer"); -%>